<launch>

  <!-- Just the one node. -->
  <!-- Add the following line to your launch file. -->
  <!-- <include file="$(find pr2_point)/pr2_point_service.launch" /> -->

  <arg name="arm_index" default="1" />
  <arg name="is_calibration" default="false" />
  <arg name="pose_file_dir" default="$(find pr2_point)/data" />

  <node name="point_service_node" pkg="pr2_point" type="point_service_node.py" output="screen">
    <param name="arm_index" value="$(arg arm_index)" />
    <param name="is_calibration" value="$(arg is_calibration)" />
    <param name="pose_file_dir" default="$(arg pose_file_dir)" />
  </node>

</launch>
